<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Community</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/community.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid">
    <div class="row main">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2 style="padding-top: 15px"><i class="fas fa-list"></i> Explore</h2>
            <hr>

            <div class="media" th:each="question : ${pagination.questions}">
                <img class="mr-3 userAvatar rounded" th:src="${question.user.avatarUrl}">
                <div class="media-body">
                    <h5 class="mt-0" >
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h5>
                    <span th:text="${question.description}"></span> <br>
                    <span class="question-info">
                        <span th:text="${question.commentCount}"></span> replies -
                        <span th:text="${question.viewCount}"></span> views -
                        <span th:text="${#dates.format(question.gmtModified,'dd/MM/yyyy HH:mm:ss')}"></span>
                    </span>
                </div>
            </div>

            <nav aria-label="page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a class="page-link" th:href="@{/(page=1)}" aria-label="FirstPage">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a class="page-link" th:href="@{/(page=${pagination.page}-1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagination.pages}" th:class="${pagination.page == page}? 'page-item active':'page-item'">
                        <a class="page-link" th:href="@{/(page=${page})}"
                           th:text="${page}"></a>
                    </li>

                    <li th:if="${pagination.showNext}">
                        <a class="page-link" th:href="@{/(page=${pagination.page+1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a class="page-link" th:href="@{/(page=${pagination.totalPage})}" aria-label="EndPage">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>



        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h2 style="padding-top: 15px">What's new</h2>
            <hr>

        </div>
    </div>
</div>

</body>
</html>