<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Community</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{~/css/community.css}">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">My Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <div>
            <a th:if="${session.user != null}" class="btn btn-outline-dark" role="button" href="/publish">Add</a>
        </div>
        <div>
            <a th:if="${session.user == null}" class="nav-link"
               href="https://github.com/login/oauth/authorize?client_id=d374568ca306b58c199f&redirect_uri=http://localhost:8080/callback&state=haha">Login
                <span class="sr-only">(current)</span></a>
        </div>
        <!--/*@thymesVar id="user" type=""*/-->
        <div class="nav-item dropdown" th:unless="${session.user == null}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">My profile</a>
                <a class="dropdown-item" href="#">My message</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Sign out</a>
            </div>
        </div>


    </div>
</nav>
<div class="container-fluid">
    <div class="row main">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2 style="padding-top: 15px"><i class="fas fa-list"></i> Explore</h2>
            <hr>

            <div class="media" th:each="question : ${pagination.questions}">
                <img class="mr-3 userAvatar rounded" th:src="${question.user.avatarUrl}">
                <div class="media-body">
                    <h5 class="mt-0" th:text="${question.title}"></h5>
                    <span th:text="${question.description}"></span> <br>
                    <span class="question-info">
                        <span th:text="${question.commentCount}"></span> replies -
                        <span th:text="${question.viewCount}"></span> views -
                        <span th:text="${#dates.format(question.gmtModified,'dd/MM/yyyy HH:mm:ss')}"></span>
                    </span>
                </div>
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a class="page-link" th:href="@{/(page=1)}" aria-label="FirstPage">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a class="page-link" th:href="@{/(page=${pagination.page}-1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagination.pages}" th:class="${pagination.page == page}? 'page-item active':'page-item'">
                        <a class="page-link" th:href="@{/(page=${page})}"
                           th:text="${page}"></a>
                    </li>

                    <li th:if="${pagination.showNext}">
                        <a class="page-link" th:href="@{/(page=${pagination.page+1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a class="page-link" th:href="@{/(page=${pagination.totalPage})}" aria-label="EndPage">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>



        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h2 style="padding-top: 15px">What's new</h2>
            <hr>

        </div>
    </div>
</div>

</body>
</html>