<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/community.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>


</head>

<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid">
    <div class="row main profile">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 community-question">
                <h4 style="padding-top: 15px"><span th:text="${question.title}"></span></h4>
                <span class="question-info">
                    Created by: <span th:text="${question.user.name}"></span> |
                    Created on: <span th:text="${#dates.format(question.gmtModified,'dd/MM/yyyy HH:mm:ss')}"></span> |
                    View: <span th:text="${question.viewCount}"></span>
                </span>
                <hr>

                <!--                内容-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.description}"></div>

                <!--                标签-->
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="badge badge-secondary question-tag" th:each="tag: ${question.tag.split(',|，')}">
                        <i class="fas fa-hashtag"></i>
                        <span class="badge badge-secondary" th:text="${tag}"></span>
                    </span>

                </div>
                <a class="community-menu" th:href="@{'/publish/'+${question.id}}"
                   th:if="${session.user != null && session.user.id == question.creator}">
                    <span class="float-right"><i class="fas fa-edit">
                    </i> Edit</span>
                </a>

            </div>


            <!--回复列表-->

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr>
                <h5>
                    <span th:text="${question.commentCount}"></span>
                    Replies
                </h5>
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment : ${comments}">
                    <div class="media">
                        <img class="mr-3 userAvatar rounded" th:src="${comment.user.avatarUrl}">
                        <div class="media-body" th:id="${'comment-body-'+comment.id}">
                            <h6 class="mt-0">
                                <span th:text="${comment.user.name}"></span>
                            </h6>
                            <div th:text="${comment.text}"></div>

                            <div class="menu">
                                <span class="icon">
                                    <i class="far fa-thumbs-up"></i>
                                    <span th:text="${comment.likeCount}"></span>
                                </span>
                                <span class="icon" th:data-id="${comment.id}" onclick="collapseComments(this)">
                                    <i class="far fa-comment-dots"></i>
                                    <span th:text="${comment.commentCount}"></span>
                                </span>
                                <span class="float-right"
                                      th:text="${#dates.format(comment.gmtModified,'dd/MM/yyyy')}"></span>
                            </div>

                            <!--二级评论-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments"
                                 th:id="${'comment-'+comment.id}">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-input">
                                    <input type="text" class="form-control" placeholder="Please type your reply."
                                           th:id="${'input-'+comment.id}">
                                    <button type="button" class="btn btn-success float-right" onclick="comment(this)"
                                            th:data-id="${comment.id}">Reply
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--回复输入框-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                <h5>
                    Type your comment
                </h5>
                <hr>
                <div class="media">
                    <img class="mr-3 userAvatar rounded" th:src="${question.user.avatarUrl}">
                    <div class="media-body">
                        <h6 class="mt-0">
                            <span th:text="${question.user.name}"></span>
                        </h6>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${question.id}">
                <textarea class="form-control" rows="6" id="comment_content"></textarea>
                <button class="btn btn-success btn-comment" type="button" onclick="post()">Reply</button>
            </div>
        </div>

        <!--右侧-->
        <div class="community-right">
            <!--头像-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <img class="mr-3 userAvatar rounded" th:src="${question.user.avatarUrl}">
                    <div class="media-body">
                        <h6 class="mt-0">
                            <span th:text="${question.user.name}"></span>
                        </h6>
                        </span>
                    </div>
                </div>
            </div>

            <!--相关问题-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <h4>Related</h4>
                <ul class="question-related">
                    <li th:each="related : ${relatedQuestions}">
                        <a th:href="@{'/question/'+${related.id}}" th:text="${related.title}"></a>
                    </li>
                </ul>

            </div>

            <!--推广-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-ad">
                <a href="https://www.weibo.com/2285146192/profile?rightmod=1&wvr=6&mod=personinfo" >
                    关注我的微博 @NEKO_Z
                </a>
                <br>
                <a href="https://space.bilibili.com/15926265" >
                    关注我的B站 @NEKO_Dia
                </a>
                <br>
                <a href="https://www.douban.com/people/Come_Back/" >
                    关注我的豆瓣 @MO。念
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>